.App {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

span {
  color: red;
  cursor: pointer;
  font-size: 20px;
}

input:checked + p {
  text-decoration: line-through ;
}